.content {
    padding: 80px 30px;
}

.detail__table {
    width: 900px;
    background: #fff;
    border-radius: 10px;
    margin: 0 auto 30px;
}

.table-header {
    width: 40%;
    text-align: left;
    color: rgb(115, 115, 115);
    letter-spacing: 0.1rem;
    padding: 40px 60px;
}

.table-data {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 40px 60px 40px 0;
}

.user-name {
    margin-left: 1.6em;
}

.work-year {
    margin: 0 9em 0 1.6em;
}

.work-date {
    display: flex;
}

.time__input {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 4px;
    outline: none;
    padding: 5px 25px;
}

.time__input::-webkit-calendar-picker-indicator {
    display: none;
}

.range {
    margin: 0 30px;
}

.table-row {
    border-bottom: 2px solid rgb(225, 225, 225);
}

.table-row:last-of-type {
    border: none;
}

.note-data {
    padding: 20px 0;
}

.note-text {
    width: 325px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 4px;
    outline: none;
    vertical-align: middle;
    resize: vertical;
    padding: 10px;
}

.note-text::placeholder {
    color: rgb(225, 225, 225);
}

.edit__button,
.approve__button {
    width: 900px;
    text-align: end;
    margin: 0 auto;
}

.edit__btn--submit,
.approve__btn--submit {
    background: #000;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0.3rem;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px 40px;
    cursor: pointer;
}

.approved {
    background: rgb(105, 105, 105);
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0.2rem;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px 15px;
    cursor: auto;
}

.error {
    font-weight: normal;
}

/* 管理者用 勤怠詳細画面 */
.applier-name {
    margin: 0;
}

.year {
    margin-left: 0;
    margin-right: 4em;
}

.time-data {
    display: flex;
    align-items: center;
}