.attendances__wrapper,
.users__table-wrapper {
    width: 900px;
    margin: 50px auto;
}

/* ページネーション */
.pagination {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 0 20px;
    margin-bottom: 30px;
}

.arrow {
    width: 20px;
    margin: 0 5px;
}

.prev-month,
.next-month,
.prev-day,
.next-day {
    color: rgb(115, 115, 115);
    font-size: 18px;
    font-weight: bold;
}


.month-text,
.date-text {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.month-text::before,
.date-text::before {
    content: url("../img/calendar-icon.svg");
    width: 20px;
    height: 15px;
    margin-right: 8px;
    vertical-align: middle;
}

/* 勤怠表・スタッフ表 */
.attendances__table,
.users__table {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.attendances__table-inner,
.users__table-inner {
    width: 100%;
    table-layout: fixed;
    margin: 0 auto;
}

.table-row__header{
    border-bottom: 3px solid rgb(225, 225, 225);
}

.table-row {
    border-bottom: 2px solid rgb(225, 225, 225);
}

.table-row:last-of-type {
    border: none;
}

.table-header {
    color: rgb(115, 115, 115);
    padding: 15px 0;
}

.th__name,
.th__date {
    width: 20%;
}

.table-data {
    text-align: center;
    color: rgb(115, 115, 115);
    padding: 15px 0;
}

.detail__link {
    text-decoration: none;
    color: #000;
}

/* 管理者用　勤怠一覧・スタッフ一覧 */
.title-date {
    font-family: "Inter", sans-serif;
    letter-spacing: 0.1rem;
}

.export__btn {
    background: #000;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0.2rem;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px 40px;
    margin-top: 40px;
    cursor: pointer;
}

@media (min-width: 768px) and (max-width: 850px) {
    .attendances__wrapper,
    .users__table-wrapper {
        width: 630px;
        margin: 20px auto;
    }

    .export__btn {
        margin-top: 30px;
    }
}