.request__wrapper {
    height: 100vh;
    margin: 50px auto;
}

.tabs {
    width: 900px;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    margin: 60px auto 40px;
}

.tab-link {
    color: #000;
    padding: 5px;
    margin: 0 50px 0 40px;
    cursor: pointer;
}

.tab-link.active {
    font-weight: bold;
}

.requests__table {
    width: 900px;
    table-layout: fixed;
    background-color: #fff;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin: 0 auto;
}

.requests__table-inner {
    width: 100%;
}

.table-row__header {
    border-bottom: 3px solid rgb(225, 225, 225);
}

.table-row {
    border-bottom: 2px solid rgb(225, 225, 225);
}

.table-row:last-of-type {
    border: none;
}

.table-header {
    color: rgb(115, 115, 115);
    padding: 15px 0;
}

.th__note {
    width: 20%;
}

.table-data {
    text-align: center;
    color: rgb(115, 115, 115);
    padding: 15px 0;
}

.detail__link {
    text-decoration: none;
    color: #000;
}